
.container{
    margin: 100px auto;
    background-color: aquamarine;
}

.TT{
    margin-left: 10px;
    color: black;
    font-weight: lighter;
    font-size: larger;
    transform: translate(10px, 10px);
}
.TT.active{
    color: red;
    text-decoration: line-through;
}
.checkB{
   position: absolute;
   left: 4px;
   z-index: 1;
}
.TTsp{
    overflow: hidden;
    border-radius: 9px;
    margin: 2px;
}

.TTa{

}
.TTa.active{
    color: red;
    text-decoration: line-through;
}

a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-size: 30px;

}
.nav-item{
    position: relative;
}
a::after{
    position: absolute;
    top: 98%;
    width: 0%;
    content: '';
    height: 2px;
   left: 0%;
    background-color: rgb(57, 150, 212);
    transition: 1s;
}

a:hover a::after{
    width: 100%;
}